*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgb(19, 13, 13);
}
header{
    display: flex;
    height: 30px;
    justify-content: space-between;
    padding: 30px 100px;
    font-family: sans-serif;
    align-items: center;
}
nav a{
    color: #FFFFFF;
    font-size: 30px;
}
span{
    color: grey;
    font-size: 25px;
}
ul{
    display: flex;
    gap: 50px;
    font-size: 20px;
}
ul li a:hover{
    color: #FFFFFF;
    transition: 0.4s;
    font-size: 20px;
}
ul li a{
    color: grey;
    transition: 0.4s;
}
.boshi{
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
    font-family: sans-serif;
}
.boshi h2{
    color: yellow;
}
.yozuv_rasm{
    display: flex;
}
.yozuv_rasm img{
    width: 400px;
    height: 400px;
    margin-top: 40px;
    margin-left: 100px;
}
.yozuv{
    margin-left: 100px;
    color: #FFFFFF;
    margin-top: 30px;
    font-family: sans-serif;
}
.yozuv h2{
    margin-top: 20px;
    font-weight: 500;
}
.yozuv h1{
    margin-top: 30px;
}
hr{
    margin-top: 100px;
}
footer{
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: sans-serif;
}
@media (max-width: 400px) {
    header {
      padding: 20px 50px;
    }
    .logo {
      z-index: 9;
    }
    .logo a {
      font-size: 20px;
    }
    ul {
      background-color: rgb(19, 13, 13);
      position: absolute;
      left: 0;
      top: -100%;
      height: 50vh;
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
      transition: all 0.6s;
    }
    .menu {
      top: 60px;
    }
    .bars{
      color: white;
    }
    .res_icons {
      display: inline-block;
    }
    .res_icons .media_icon {
      display: none;
    }
    .boshi h1{
        font-size: 20px;
    }
    .boshi h2{
        font-size: 15px;
    }
    .yozuv_rasm img{
        width: 360px;
        height: 360px;
        margin-left: 20px;
    }
    .yozuv{
        position: absolute;
        margin-top: 400px;
        margin-left: 20px;
    }
    .yozuv h2{
        font-size: 15px;
    }
    .yozuv h1{
        font-size: 20px;
        margin-left: 0;
    }
    hr{
        margin-top: 250px;
    }
    footer{
        font-size: 10px;
    }
    }


